services:
  web:
    build:
      context: ./web
      dockerfile: dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./web:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - ./web/.env
    environment:
      - NODE_ENV=development
      - PORT=8080
    stdin_open: true
    tty: true
